<div class="texto-todo">
     <div class="menu-btn">
      </div>
      <div class="container">
          <nav class="nav-main">
              <img src="assets/img/logo.png" alt="HISTORIA-LOGO" class="nav-logo">
              <ul class="nav-menu">
                  <li>
                      <a href="inicio-sesion.component.html">Login</a>
                  </li>
              </ul>
              <ul class="nav-menu-right">
              </ul>
          </nav>
          <hr>
          <header class="principal">
              <h2>Sistema de gestion de proyectos vial</h2>
              <p>Visualiza de manera virtual futuros proyectos de demarcacion y señalizacion vial tanto rural como urbana.</p>
          </header>
          <div class="capitulos">
              <div>
                  <img src="assets/img/solicitud-de-cotizacion.png" alt="">
                  <h3>Cotizaciones</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima eum temporibus fuga debitis illum, vel perferendis cupiditate, libero blanditiis facilis totam rem molestiae porro qui corrupti architecto commodi eligendi?</p>
              </div>
              <div>
                  <img src="assets/img/clientes.png" alt="">
                  <h3>Clientes</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima eum temporibus fuga debitis illum, vel perferendis cupiditate, libero blanditiis facilis totam rem molestiae porro qui corrupti architecto commodi eligendi?</p>
              </div>
              <div>
                  <img src="assets/img/inventario.png" alt="">
                  <h3>Inventarios</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima eum temporibus fuga debitis illum, vel perferendis cupiditate, libero blanditiis facilis totam rem molestiae porro qui corrupti architecto commodi eligendi?</p>
              </div>
              <div>
                  <img src="assets/img/proveedor.png" alt="">
                  <h3>Proveedores</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima eum temporibus fuga debitis illum, vel perferendis cupiditate, libero blanditiis facilis totam rem molestiae porro qui corrupti architecto commodi eligendi?</p>
              </div>
          </div>
          
          <section class="banner_2">
              <div class="content">
                  <h2>Proveedores</h2>
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est quae dicta et voluptas nobis, porro incidunt culpa omnis rerum laborum asperiores excepturi, corporis blanditiis quod, unde repellendus! Animi nulla qui rerum, nisi doloremque nesciunt! Aperiam tenetur reprehenderit autem possimus laborum?
                  </p>
              </div>
          </section>
          <section class="social">
              <p>Siguenos en nuestras redes sociales </p>
              <div class="links">
                  <a href="#">
                      <i class="fab fa-facebook"></i>
                  </a>
                  <a href="#">
                      <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                      <i class="fab fa-instagram"></i>
                  </a>
                  <a href="#">
                      <i class="fab fa-whatsapp"></i>
                  </a>
              </div>
          </section>
      </div>
  <footer class="footer">
      <h3>CopyRight ©</h3>
  </footer>
    
</div>
   
