<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/Imagen1.png" />
    <title>SISGESPRO VIAL - Inicio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>        
    <link rel="stylesheet" href="estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <nav class="nav-main">
            <img src="img/Imagen1.png" alt="Logo" class="nav-logo">
            <ul class="nav-menu">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li>
                    <a href="#">Mision</a>
                </li>
                <li>
                    <a href="#">Vision</a>
                </li>
                <li>
                    <a href="#">integrantes</a>
                </li>
                <li>
                    <a href="#">¿Quienes somos?</a>
                </li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <hr>
        <header class="principal">
            <h2>SISGESPRO VIAL</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur iste delectus tempore expedita explicabo aliquam et placeat blanditiis, aliquid nihil, optio voluptas exercitationem minus omnis vel molestias illum odit cum id quas. Magnam, atque corporis! Voluptate dolor repellat eius numquam impedit maxime deleniti soluta. Corporis sit unde incidunt modi facilis?</p>
        </header>
        <div class="capitulos">
            <div>
                <img src="img/pavimento vial.jfif" alt="tecnologías">
                <h3>Pavimento vial</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat veritatis quos ipsam quasi fugit reprehenderit labore doloribus similique aut atque!</p>
                <a href="#">Leer más... <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/linea2.jpg" alt="Discos">
                <h3>Señal de transito</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat veritatis quos ipsam quasi fugit reprehenderit labore doloribus similique aut atque!</p>
                <a href="#">Leer más... <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/redcutor.jpg" alt="procesadores">
                <h3>reductor de velocidad</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat veritatis quos ipsam quasi fugit reprehenderit labore doloribus similique aut atque!</p>
                <a href="#">Leer más... <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/" alt="memoria">
                <h3>separadores vial</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat veritatis quos ipsam quasi fugit reprehenderit labore doloribus similique aut atque!</p>
                <a href="#">Leer más... <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        
        <section class="banner_2">
            <div class="content">
                <h2>SISGESPRO</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </section>
        <section class="social">
            <p>Siguenos en nuestras redes sociales</p>
            <div class="links">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-tiktok"></i>
                </a>
                <a href="#">
                    <i class="fab fa-google"></i>
                </a>
                <a href="#">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </section>
    </div>
    <div class="otros-enlaces">
        <div class="otros-container">
        <ul>
            <li>
                <a href="">
                    <h3>Titulo 1</h3>
                </a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <h3>Titulo 2</h3>
                </a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <h3>Titulo 3</h3>
                </a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    <h3>Titulo 4</h3>
                </a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
            <li>
                <a href="">informacion</a>
            </li>
        </ul>
    </div>
</div>
<footer class="footer">
    <h3>CopyRight</h3>
</footer>
</body>
</html>