<header id="main-header">
  <div class="container animate__animated animate__fadeInDown">
    <p class="logo">
      <img src="/assets/img/logo.png" alt="" />
      <strong>SISGESPRO-VIAL</strong>
    </p>
    <h1 class="display-1">
      Sistema para la gestión de inventarios y cotizaciones
    </h1>
    <p>
      Para empresas dedicadas a la demarcación y señalizacion vial.
      <br />
      Visualiza de manera exitosa futuros proyectos de demarcacion y
      señalizacion vial tanto rural como urbana.
    </p>
    <a href="/#/login" class="btn">Iniciar Sesión</a>
  </div>
</header>

<section id="description">
  <div class="container showAnimation">
    <h2 class="display-2">Objetivo general</h2>
    <p>
      Construir una solución informática para el mejoramiento del proceso de
      inventarios y cotizaciones, de las empresas dedicadas al trabajo de
      demarcación de vías, utilizando herramientas web.
    </p>
    <div class="description-row">
      <div class="description-box">
        <img src="assets/img/solicitud-de-cotizacion.png" alt="" width="100" />
        <h4>Cotizaciones</h4>
        <p>
          Se permite realizar la gestion de cotizaciones donde los clientes
          tendran un proyectado de costos de su proyecto.
        </p>
      </div>
      <div class="description-box">
        <img src="assets/img/inventario.png" alt="" width="100" />
        <h4>Inventarios</h4>
        <p>
          El usuario tendra acceso a los inventarios que se tienen en tiempo
          real para poder proyectar sus costos y disponibilidad de los
          materiales
        </p>
      </div>
      <div class="description-box">
        <img src="assets/img/proveedor.png" alt="" width="100" />
        <h4>Proveedores</h4>
        <p>
          En este modulo tenemos a los provedores que son un elemento necesario
          en cualquier empresa comercial, gracias a los insumos que aportan se
          puede cumplir con lo pactado a los clientes.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="testimonial">
  <div class="container showAnimation">
    <h4>Nuestro cliente</h4>
    <img src="/img/testimonial.jpg" alt="" />
    <p>
      El cliente Pintatonos y señales ltda. es nuestro primer cliente con el
      cual tuvimos una entrevista para poder llevar a cabo el acercamiento entre
      ambas partes y poder tener una comunicacion mas acertiva, esto es
      primoridal para poder tener claro el entorno de la misma y poder traer
      sugerencias y soluciones a los problemas encontrados, es importante
      conocer el nivel tecnologico de la empresa para poder tener presente el
      alcance del diseño del software, por ultimo nos compartieron la
      informacion acerca de los flujos de la empresa para llevarlos a la
      digitalizacion y satisfacer las necesidades y expectativas que se tuvieron
      al inicio de la entrevista.
    </p>
    <!-- <p class="customer">Jack Doe</p>
    <p>NY, NY</p> -->
  </div>
</section>

<section id="features">
  <div class="container showAnimation">
    <div class="features-row">
      <div class="features-box">
        <img src="/assets/page/analisis.jpg" alt="" width="100" height="245" />
        <br />
        <h4>Analisis</h4>
        <p>
          Se mantuvo una comunicacion directa con los propietarios de la empresa
          pintatonos y señales ltda. donde logramos obtener informacion acerca
          de las necesidades que se tienen en el sector para poder llevar a cabo
          un forma mas eficiente de llevar su documentacion y de paso mejorar la
          experciencia al cliente.
        </p>
      </div>
      <div class="features-box">
        <img src="assets/page/diseño.jpg" alt="" width="100" />
        <br />
        <h4>Diseño</h4>
        <p>
          Nos planteamos en realizar una interfaz amigable, transparente y
          sencilla para poder ser manejada por los usuarios administradores y
          clientes, esto con el fin de obtener un mejor desempeño para ambas
          partes y asi llegar a tener un diseño moderno, funcional, agradable a
          la vista con la informacion necesario y sin tener contaminacion
          visual.
        </p>
      </div>
      <div class="features-box">
        <img src="/assets/page/dev2.jpg" alt="" width="100" />
        <br />
        <h4>Desarrollo</h4>
        <p>
          Buscamos construir la solución informática mediante la aplicación de
          herramientas de desarrollo web, y la validación mediante pruebas a la
          funcionalidad del software, La parte técnica del proyecto va a
          permitir la implementación de lo siguientes componentes, Frontend los
          usuarios podrán conocer la empresa y tener información de ella.
          Backend se manejará información de inventarios, en cuanto a agregar,
          consultar, modificar y eliminar datos en el inventario.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="about" class="wow bounceInUp">
  <div class="container showAnimation">
    <div class="about-image">
      <img src="assets/page/dev.jpg" alt="" />
    </div>
    <div class="about-text">
      <h3 class="display-2">Ingenieria de sistemas.</h3>
      <p>
        A medida que pasa el tiempo el crecimiento de la ciencia de la mano de
        la tecnologia es inevitable y el desarrollo de soluciones cada vez se
        aproxima mas a la solucion de problemas modernos del dia a dia en cada
        sector comercial, de la mano de la ingenieria de sistemas proponemos
        llevar a cabao soluciones virtuales para poder tener una calidad de vida
        mejor en este caso lo buscamos para el sector de señalizacion vial,
        desde el punto de vista de la ingenieria de sistemas analizamos las
        necesidades requeridas de este sector, diseñamos una respuesta o
        solucion a los problemas y/o necesidades encontradas junto con los
        usuarios, construimos un prototipo para realizar pruebas y comprobar que
        lo requerido cumple funcionalmente y finalmente estamos implementando
        esta solucion para dar un paso más hacia el futuro.
      </p>
    </div>
  </div>
</section>

<div class="footer-dark">
  <footer class="showAnimation">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Universidad</h3>
          <img class="ucompensar" src="/assets/page/ucompensar.png" alt="" />
        </div>
        <div class="col-md-6 item text">
          <h3>Estudiantes</h3>
          <p>
            SEBASTIAN EDUARDO PERALTA BLANCO
            <br />
            PABLO ANTONIO CEBALLOS ASTUDILLO
          </p>
        </div>
        <div class="col item social">
          <br />
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="https://github.com/Paanceas/frontend-sisgespro-vial"
            ><i class="fab fa-github"></i
          ></a>
          <a href="#"><i class="fab fa-angular"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">SISGESPRO-VIAL © 2023</p>
    </div>
  </footer>
</div>
