<div class="login">
  <img class="wave" src="assets/img/wave.svg" alt="">
  <div class="container">
    <div class="img">
      <img src="assets/img/road.svg" alt="">
    </div>
    <div class="login-content">
      <form>
        <img class="avatar" src="assets/img/logo.png" alt="">
        <h2>Bienvenido</h2>
        <div class="input-div">
          <div class="i">
            <em class="fas fa-user"></em>
          </div>
          <div>
            <input type="text" name="" id="" placeholder="Usuario">
          </div>
        </div>
        <div class="input-div">
          <div class="i">
            <em class="fas fa-lock"></em>
          </div>
          <div>
            <input type="text" name="" id="" placeholder="Contraseña">
          </div>
        </div>
        <button class="btn">ingresar</button>
      </form>
    </div>
  </div>
</div>
