<div class="w-100 container-sisgespro">
  <h1 class="h3 mb-2 text-gray-800">Consulta de proveedores</h1>
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table">
        <caption>
          Total proveedores:
          {{
            listaProveedores.length
          }}
        </caption>
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Identificación</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ubicación</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaProveedores">
            <th scope="row">{{ item.id_proveedor }}</th>
            <td>{{ item.tipo_identificacion }}-{{ item.identificacion }}</td>
            <td>{{ item.nombre }}</td>
            <td>{{ item.correo }}</td>
            <td>{{ item.direccion }}</td>
            <td>{{ item.nombre_ciudad }} - {{ item.nombre_ubicacion }} - {{ item.abreviatura }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary" (click)="detalle(item)">
                  <i class="far fa-eye"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
